body {
    background-color: turquoise;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.people-btn {
  background-color: transparent;
  color: #16a34a;            /* green */
  border: 2px solid #16a34a; /* outline */
  padding: 8px 14px;
  margin: 4px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.people-btn:hover {
  background-color: #16a34a;
  color: white;
}

.people-btn.active {
  background-color: #16a34a;
  color: white;
}

.people-btn {
    margin-bottom: 15px;
}
